body{
	font-size: 10px;
}

.head-top{
	height: 4rem;
	font-size: 1.4rem;
	line-height: 4rem;
	color: #fff;
	background-color: #1d7ad9;
}
.head-top a{
	width: 5.4rem;
	text-align: center;
	color: #fff;
	float: right;
	text-decoration: none;
}
.head-top a:hover{
	width: 10.4rem;
	background-color: #fff;
	color: #000;
	text-decoration: none;
}
.head-top a:last-child{
	border-left: 1px solid #fff;
}
.head-bottom{
	height: 10rem;
	background-color: #f9f9f9;
}
.head-bottom span{
	padding: 1.5rem 1.7rem;
	margin-top: 2.8rem;
	margin-left: 6rem;
	border-radius: 5px;
	background-color: #fff;
	float: right;
}
.head-bottom span:last-child{
	background-color: #1d7ad9;
	color: #fff;
}
.head-bottom span:hover{
	background-color: #1d7ad9;
	color: #fff;
}
@media screen and (max-width: 991px) {
	.head-bottom span{
		padding: 1rem 1.2rem;
		margin-left: 1rem;
	}
}
.process{
	float: right;
	counter-reset: num;
}
.process>div{
	width: 16rem;
	font-size: 1.8rem;
	text-align: center;
	float: left;
}
.pro-1{
	width: 100%;
	height: 0.5rem;
	margin: 4.8rem 0;
	background-color: #ccc;
}
.pro-1:before{
	display: block;
	width: 2rem;
	height: 2rem;
	position: relative;
	bottom: 0.8rem;
	left: 7rem;
	color: #fff;
	background-color: #ccc;
	border-radius: 50%;
	content: counter(num);
	counter-increment: num;
}
.process div:hover{
	color: #ff7f02;
}
.process div:hover .pro-1{
	background-color: #ff7f02;
}
.process div:hover .pro-1:before{
	background-color: #ff7f02;
}
.process div:first-child{
	color: #ff7f02;
}
.process div:first-child .pro-1{
	background-color: #ff7f02;
}
.process div:first-child .pro-1:before{
	background-color: #ff7f02;
}
@media screen and (max-width: 991px) {
	.process>div{
		font-size: 1.4rem;
		width: 8rem;
	}
	.pro-1:before{
		left: 3.5rem;
	}
}
.mainbody p{
	margin-top: 5rem;
	padding-left: 0.6rem;
	border-left: 4px solid #1d7ad9;
	font-size: 2.2rem;
}
@media screen and (max-width: 991px) {
	.mainbody p{
		font-size: 1.8rem;
	}
}
.wrap{
	border:1px solid #e8e8e8;
	border-radius: 4px; 
}
.title{
	height: 4.5rem;
	padding-left: 2rem;
	line-height: 4.5rem;
	font-size: 1.8rem;
	background-color: #f3f3f3;
}
.xiangxing .row{
	padding-left: 5rem;
	font-size: 1.8rem;
}
.xiangxing label{
	margin:3.7rem 0;
}
.chicun,.xiangxing,.caizhi{
	background-color: #fbfcff;
	position: relative;
}
.chicun .row{
	padding-left: 5rem;
}
select{
	height: 3.7rem;
	width: 13.7rem;
	font-size: 1.4rem!important;
	background:url(task9/select.jpg) no-repeat scroll right center;
	position: absolute;
	top: 2.8rem;
	right: 1.7rem;
	color: #999;
	border:1px solid #e8e8e8;
	-webkit-appearance:none;
}
.chicun label{
	margin-top: 2.6rem;
}
.chicun .row{
	font-size: 1.8rem;
	padding-bottom: 2.6rem;
}
.data{
	width: 7rem;
}
.chicun select{
	position: absolute;
	top: 2.8rem;
	right: 1.7rem;
}
.caizhi .row{
	font-size: 1.8rem;
	padding: 6rem 0 0 5rem;
}
.caizhi label{
	margin-bottom: 6rem;
}
.next{
	width: 100%;
	height: 28rem;
	border-top: 1px solid #e8e8e8;
	position: relative;
}
.next button{
	width: 18rem;
	height: 4.6rem;
	border-radius: 5px;
	font-size: 2.4rem;
	color: #fff;
	margin:0 auto;
	background-color: #e15053;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
}
.foot{
	margin-top: 5rem;
	padding-top: 7rem;
	color: #999;
	background-color: #f9f9f9;
}
.foot .col-md-5{
	font-size: 1.8rem;
}
.foot .col-md-4 span{
	margin-right: 2rem;
}
.foot .col-md-4 span:hover{
	color: #1d7ad9;
}
.foot .col-md-4 p:first-child span:first-child{
	color: #1d7ad9;
}
.tel{
	float: left;
	margin-right: 2rem;
}
.beian{
	padding: 0.5rem 0;
	color: #fff;
	background-color: #1d7ad9;
}
.beian p{
	margin-bottom: 0;
}
/*重写选框按钮样式*/
input[type="radio"]{
	width: 18px;
	height: 18px;
	margin-top: 31px;
	line-height: height;
	opacity: 0;
	position: absolute;
}
.re-radio{
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	border:1px solid #d6d6d6;
	background-color: #fff;
}
input[type="radio"]:checked+.re-radio{
	box-sizing: border-box;
	border:6px solid #1d7ad9;
}